@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: 'Open Sans', sans-serif;
  color: $neutral800;
}

h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  line-height: 4.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  line-height: 2.75rem;
  font-weight: 700;
}

.goals-text p {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  strong {
    font-weight: 400;
    color: $neutral900;

    text-decoration: underline;
    text-decoration-thickness: .9rem;
    text-decoration-color: $primary200;
    text-underline-offset: -1rem;
    text-decoration-skip-ink: none;
  }
}

.goals-text h4 {
  color: $primary700
}

a {
  color: $primary800;
  border-radius: 8px;
  transition: .2s ease-in-out;
  text-decoration-thickness: .125rem;
  &:hover {
    color: $primary600;
  }
}

p {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  &.bold {
    font-weight: 700;
  }
}