@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: 'Open Sans', sans-serif;
  color: $neutral800;
}

h1 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  line-height: 4.75rem;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 700;
  strong {
    color: $primary900;
  }
}

a {
  color: $primary900;
  border-radius: 8px;
  padding: 0 .25rem .25rem;
  transition: .2s ease-in-out;
  &:hover {
    color: $primary700;
  }
}

p {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  &.bold {
    font-weight: 700;
  }
}