// <---------- Neutral ---------->

$neutral900: #202027;
$neutral800: #434454;
$neutral500: #868B9D;
$neutral200: #D8DAE2;
$neutral100: #EDEEF2;
$neutral0: #ffffff;

// <---------- Primary ---------->

$primary900: #5565E9;
$primary800: #677DFF;
$primary700: #7B8EFF;
$primary300: #96A5FF;
$primary200: #B2C3FF;
