// <---------- Neutral ---------->

$neutral900: #202027;
$neutral800: #434454;
$neutral700: #64667A;
$neutral600: #868B9D;
$neutral500: #ABAFBD;
$neutral400: #C4C7D2;
$neutral300: #D8DAE2;
$neutral200: #EDEEF2;
$neutral100: #F7F7F8;
$neutral0: #FFFFFF;

// <---------- Primary ---------->

$primary900: #4353D8;
$primary800: #5565E9;
$primary700: #677DFF;
$primary600: #7B8EFF;
$primary500: #899AFF;
$primary400: #96A5FF;
$primary300: #B2C3FF;
$primary200: #D4DDFE;
$primary100: #EEF0FD;