@import "variables";
@import "fonts";
@import "layout";

* {
  margin: 0;
  padding: 0;
}

.nowrap {
  white-space: nowrap;
}

@media screen and (min-width: 1000px) {
  *:focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px $primary400;
  }
}