.grid-container {
  display: grid;
  grid-template-columns: 5.5vw 1fr 5.5vw;
  .image-header {
    grid-column: 1 / 4;
  }
  .description,
  &.carreer-container div,
  &.goals-container div,
  &.footer-container p {
    grid-column: 2 / 3;
  }
}

@media screen and (min-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(12, 1fr);
    .image-header {
      grid-column: 7 / 13;
      grid-row: 1;
    }
    .description {
      grid-column: 2 / 6;
      grid-row: 1;
    }
    &.carreer-container {
      & :first-child {
        grid-column: 2 / 6;
        grid-row: 1;
      }
      & :last-child {
        grid-column: 8 / 12;
        grid-row: 1;
      }
    }
    &.goals-container div {
      grid-column: 3 / 9;
    }
    &.footer-container p {
      grid-column: 2 / 12;
    }
  }
}
