@import "../styles/variables";

.button a {
  align-items: center;
  display: flex;
  padding: 0.5em 0;
  justify-content: center;
  margin-bottom: 0.75rem;
  text-decoration: none;
  line-height: 1.75rem;
  font-weight: 600;
  gap: 0.75rem;
  span {
    display: flex;
    align-items: center;
    svg {
      height: 1rem;
      width: 1rem;
    }
  }
}

:global(.primary) {
  border: 2px solid $primary800;
  color: $primary800;
  svg path {
    fill: $primary800;
  }
}

:global(.secondary) {
  border: 2px solid $neutral600;
  color: $neutral700;
  svg path {
    fill: $neutral700;
  }
}

:global(.terciary) {
  border: none;
  color: $primary800;
  svg path {
    fill: $primary800;
  }
}

@media screen and (min-width: 1000px) {
  .button a {
    gap: 0;
    transition: 0.2s ease-in-out;
    span {
      width: 0;
      opacity: 0;
      transition: 0.2s ease-in-out;
    }
    &:hover, &:focus {
      gap: 8px;
      & span {
        width: 1rem;
        opacity: 1;
      }
    }
  }

  .small {
    display: inline-block;
    a {
      display: flex;
      padding: .5rem;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      span {
        display: none;
      }
    }
  }

  :global(.primary):hover {
    border: 2px solid $primary900;
    color: $primary900;
    background: $primary100;
    & svg path {
      fill: $primary900;
    }
  }

  :global(.secondary):hover {
    color: $neutral700;
    background: $neutral100;
    & svg path {
      fill: $neutral700;
    }
  }

  :global(.terciary):hover {
    border: none;
    color: $primary900;
    background: $primary100;
    & svg path {
      fill: $primary900;
    }
  }
}
