@import "../styles/variables";

.button a {
  // align-items: center;
  // border: none;
  // border-radius: .5em;
  display: flex;
  // flex: 1 1 0px;
  padding: .5em 0;
  justify-content: center;
  // width: 100%;
  margin-bottom: .75rem;
  text-decoration: none;
  // font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 600;
  transition: .2s ease-in-out;
}

:global(.btnPrimary) {
  background: $primary900;
  color: $neutral0;
  &:hover {
    background: $primary800;
    color: $neutral0;
  }
}

:global(.btnSecondary) {
  background: $neutral100;
  color: $neutral800;
  &:hover {
    background: $neutral200;
    color: $neutral800;
  }
}