@import "../styles/variables";

.btn {
  align-items: center;
  border: none;
  border-radius: .5em;
  display: flex;
  flex: 1 1 0px;
  padding: .5em 0;
  justify-content: center;
  background: $accent-light;
  color: white;
  width: 100%;
}