.container {
  width: 100vw;
  height: 30vh;
  overflow: hidden;
  background: red;
  margin-bottom: 2.5rem;
}

.image {
  width: 100vw;
  height: auto;
  transform: translateY(-20%);
  
}

@media screen and (min-width: 1000px) {
  .container {
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
  }
  
  .image {
    width: auto;
    height: 100%;
    transform: translateY(0);
    
  }
}