@import "../styles/variables";

.goals-container {
  min-height: calc(100vh - 3.5rem);
  h4 {
    margin-top: 9.5rem;
    margin-bottom: 0.5rem;
  }
  p {
    color: $neutral900;
    margin-bottom: 1.5rem;
  }
}

.btns-container {
  margin-top: 3.75rem;
}

@media screen and (min-width: 1000px) {
  .goals-container {
    h4 {
      margin-top: 13rem;
    }
    p {
      max-width: 36rem;
    }
  }

  .btns-container {
    max-width: 36rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    & > * {
      flex-grow: 1;
      max-width: calc(50% - 1rem);
    }
  }
}
