.intro-container {
  min-height: 100vh;
}

.description-container {
  min-height: calc(100vh - (30vh + 2.5rem));
  display: flex;
  flex-direction: column;
}

.btns-container {
  padding-bottom: 3.5rem;
}

@media screen and (min-width: 1000px) {
  .description-container {
    padding-top: 20vh;
  }
  .btns-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    & > * {
      flex-grow: 1;
      max-width: calc(50% - 1rem);
    }
  }
}