.intro-container {
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;
}

.description-container {
  min-height: calc(100vh - (30vh + 2.5rem));
  display: flex;
  flex-direction: column;
}

.btns-container {
  padding-bottom: 3.5rem;
}